language: scala
scala:
  - 2.12.10
  - 2.13.1
services:
  - memcache
env:
  - PLAY_VERSION=2.8.0-RC5 TRAVIS_JDK=8
# see https://github.com/travis-ci/travis-ci/issues/5227#issuecomment-165131913
before_install:
  - curl -Ls https://git.io/jabba | bash && . ~/.jabba/jabba.sh
  - cat /etc/hosts
  - sudo hostname "$(hostname | cut -c1-63)"
  - sed -e "s/^\\(127\\.0\\.0\\.1.*\\)/\\1 $(hostname | cut -c1-63)/" /etc/hosts > /tmp/hosts
  - sudo mv /tmp/hosts /etc/hosts
  - cat /etc/hosts
install: jabba install "adopt@~1.$TRAVIS_JDK.0-0" && jabba use "$_" && java -Xmx32m -version
# see https://docs.travis-ci.com/user/languages/scala#Default-Test-Command about $TRAVIS_SCALA_VERSION
script:
  - sbt ++$TRAVIS_SCALA_VERSION test
